@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    font-family: 'Quicksand', sans-serif;
    background-color: #f7f7f7;
    overflow: auto;
}
a {
    text-decoration: none;
}
h1{
    font-size: 35px;
}

/* Penambahab Grid Sendiri */
[class*="kolom-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid blue; */
}
/* 
  memberikan ukuran pada masing-masing kolom grid 
*/
.kolom-1 {width: 8.33%;}
.kolom-2 {width: 16.66%;}
.kolom-3 {width: 25%;}
.kolom-4 {width: 33.33%;}
.kolom-5 {width: 41.66%;}
.kolom-6 {width: 50%;}
.kolom-7 {width: 58.33%;}
.kolom-8 {width: 66.66%;}
.kolom-9 {width: 75%;}
.kolom-10 {width: 83.33%;}
.kolom-11 {width: 91.66%;}
.kolom-12 {width: 100%;}

/* 
  membuat grid menjadi tersusun kebawah ketika lebar layar kurang dari 922px 
*/
@media screen and (max-width: 922px) {
    [class*="kolom-"] {
        display:block;
        clear:left;
        width:100%
    }
}
header{
    display: inline-block;
    width: 100%;
    padding: 25px 120px;
    background-color: #fff;
    box-shadow: 0 3px 4px rgb(146 161 176 / 15%);
    position: fixed;
    z-index: 100;
    transition: all ease 0.5s;
}
footer {
    padding: 20px;
    color: white;
    background-color: #1dcc70;
    text-align: center;
    font-weight: bold;
 }
.logo{
    float: left;
}
nav{
    float: right;
}
nav ul li{
    display: inline-block;
    padding: 15px 25px;
}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: #3f3f50;
    font-weight: 600;
    padding-bottom: 5px;
    transition: all ease 0.5s;
}
nav ul li a:hover{
    color : #1dcc70;
}
.menu-respon{
    width: 30px;
    position: absolute;
    right: 80px;
    top: 40px;
    display: none;
}
.menu-respon span{
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background-color: #000;
    float: left;
    margin-bottom: 8px;
}
section{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content-bg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 180px;
    padding-left: 120px;
    background-image: url('../img/hero-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 120px;
}
.text{
    width: 50%;
    float: left;
}
.text p{
    font-size: 30px;
    line-height: 46px;
    color: #3f3f50;
    font-weight: 600;
}   
span{
    color: #1dcc70;
}
.tombol{
    display: inline-block;
    background-color: #1dcc70;
    color: #fff;
    padding: .95rem 3.5rem;
    font-weight: 600;
    border-radius: 50px;
    transition: all ease 0.5s;
}
.tombol:hover {
    box-shadow: 0 10px 36px rgb(29 204 112 / 61%);
}
.img{
    position: relative;
    float: right;
    width: 50%;
    height: 500px;
    margin-top: -50px;
}
.cover{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    object-fit: cover;
    object-position: center;
}
.featured-image{
    width: 70%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.center{
    display: block;
    text-align: center;
    margin: auto;
}
.card {
    transition: all ease 0.5s;;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #dadada;
}
.card:hover{
    cursor: pointer;
    box-shadow: 0 2px 36px rgb(29 204 112 / 44%);
}
figure{
    width: 250px;
    height: 250px;
    background-color: #1dcc7026;
    top: 30px;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: auto;
}
figcaption{
    display: block;
    padding: 10px;
    background-color: #1dcc70;
    color: #fff;
    border-radius: 50px;
    font-weight: 600;
}
.profilku{
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 230px;
}
.left{
    float: left;
    width: auto;
}
.icon-fitur{
    padding: 5px 20px 0px 0px;
    min-height: 90px;
}

.icon-fitur img{
    opacity: .3;
}

.form{
    width: 100%;
    font-size: 0.938rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid #bbb;
    outline: none;
    margin-bottom: 2rem;
}
.frame-form{
    margin: 50px 100px 50px 0;
}

@media screen and (max-width: 992px) {
    .menu-respon{
        display: block;
        padding: 0px;
        margin-right: -50px;
        
    }
    .menu-respon:hover{
        cursor: pointer;
    }
    header {
        width: 100%;
        padding: 25px 30px 25px 30px;
        transition: all ease 0.5s;
    }
    nav{
        display: none;
        width: 100%;
        border-top: 1px solid #000;
        padding-top: 20px;
        margin-top: 30px;
        transition: all ease 0.5s;
    }
    nav ul li{
        padding: 15px 0px;
        width: 100%;
    }
    nav.show{
        display: inline-block;
        transition: all ease 0.5s;
    }
    .content-bg{
        width: 100%;
        padding: 150px 30px 25px 30px;
    }
    .content-bg .text{
        width: 100%;
        padding: 0px;
    }
    .content-bg .img{
        width: 100%;
        padding: 0px;
        margin-top: 10px;
    }
    .content{
        width: 100%;
        padding: 50px 30px 25px 30px;
    }
    .icon-fitur{
        width: 100%;
        display: inline-block;
        text-align: center;
        margin: auto;
    }
    .frame-form{
        width: 100%;
    }
    
}
